data-collection/deploy/source/crawler_step_function.json
{
    "Comment": "Orchestrate the Glue Crawlers for the collected data",
    "StartAt": "CrawlerMap",
    "States": {
      "CrawlerMap": {
        "Type": "Map",
        "ItemProcessor": {
          "ProcessorConfig": {
            "Mode": "INLINE"
          },
          "StartAt": "GetCrawler",
          "States": {
            "GetCrawler": {
              "Type": "Task",
              "Parameters": {
                "Name.$": "$"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 8,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "IsRunning?",
              "OutputPath": "$.Crawler"
            },
            "IsRunning?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Or": [
                    {
                      "Variable": "$.State",
                      "StringEquals": "RUNNING"
                    },
                    {
                      "Variable": "$.State",
                      "StringEquals": "STOPPING"
                    }
                  ],
                  "Next": "WaitForCrawler"
                }
              ],
              "Default": "StartCrawler",
              "OutputPath": "$"
            },
            "WaitForCrawler": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "GetCrawler",
              "OutputPath": "$.Name",
              "InputPath": "$"
            },
            "StartCrawler": {
              "Type": "Task",
              "Parameters": {
                "Name.$": "$"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "End": true,
              "InputPath": "$.Name",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 8,
                  "JitterStrategy": "FULL"
                }
              ]
            }
          }
        },
        "ItemsPath": "$.crawlers",
        "End": true
      }
    },
    "TimeoutSeconds": 1200
}